.pro_rate-cal_container {
  width: 100%;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .pro_rate-cal_container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .pro_rate-cal_container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .pro_rate-cal_container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .pro_rate-cal_container {
    max-width: 1140px;
  }
}

.pro_rate-cal_container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.pro_rate-cal_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.pro_rate-cal_no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.pro_rate-cal_no-gutters > .pro_rate-cal_col,
.pro_rate-cal_no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.pro_rate-cal_col_1, .pro_rate-cal_col_2, .pro_rate-cal_col_3, .pro_rate-cal_col_4, .pro_rate-cal_col_5, .pro_rate-cal_col_6, .pro_rate-cal_col_7, .pro_rate-cal_col_8, .pro_rate-cal_col_9, .pro_rate-cal_col_10, .pro_rate-cal_col_11, .pro_rate-cal_col_12, .pro_rate-cal_col,
.pro_rate-cal_col_auto, .pro_rate-cal_col_sm_1, .pro_rate-cal_col_sm_2, .pro_rate-cal_col_sm_3, .pro_rate-cal_col_sm_4, .pro_rate-cal_col_sm_5, .pro_rate-cal_col_sm_6, .pro_rate-cal_col_sm_7, .pro_rate-cal_col_sm_8, .pro_rate-cal_col_sm_9, .pro_rate-cal_col_sm_10, .pro_rate-cal_col_sm_11, .pro_rate-cal_col_sm_12, .pro_rate-cal_col_sm,
.pro_rate-cal_col_sm_auto, .pro_rate-cal_col_md_1, .pro_rate-cal_col_md_2, .pro_rate-cal_col_md_3, .pro_rate-cal_col_md_4, .pro_rate-cal_col_md_5, .pro_rate-cal_col_md_6, .pro_rate-cal_col_md_7, .pro_rate-cal_col_md_8, .pro_rate-cal_col_md_9, .pro_rate-cal_col_md_10, .pro_rate-cal_col_md_11, .pro_rate-cal_col_md_12, .pro_rate-cal_col_md,
.pro_rate-cal_col_md_auto, .pro_rate-cal_col_lg_1, .pro_rate-cal_col_lg_2, .pro_rate-cal_col_lg_3, .pro_rate-cal_col_lg_4, .pro_rate-cal_col_lg_5, .pro_rate-cal_col_lg_6, .pro_rate-cal_col_lg_7, .pro_rate-cal_col_lg_8, .pro_rate-cal_col_lg_9, .pro_rate-cal_col_lg_10, .pro_rate-cal_col_lg_11, .pro_rate-cal_col_lg_12, .pro_rate-cal_col_lg,
.pro_rate-cal_col_lg_auto, .pro_rate-cal_col_xl_1, .pro_rate-cal_col_xl_2, .pro_rate-cal_col_xl_3, .pro_rate-cal_col_xl_4, .pro_rate-cal_col_xl_5, .pro_rate-cal_col_xl_6, .pro_rate-cal_col_xl_7, .pro_rate-cal_col_xl_8, .pro_rate-cal_col_xl_9, .pro_rate-cal_col_xl_10, .pro_rate-cal_col_xl_11, .pro_rate-cal_col_xl_12, .pro_rate-cal_col_xl,
.pro_rate-cal_col_xl_auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.pro_rate-cal_col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.pro_rate-cal_col_auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.pro_rate-cal_col_1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.pro_rate-cal_col_2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.pro_rate-cal_col_3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.pro_rate-cal_col_4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.pro_rate-cal_col_5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.pro_rate-cal_col_6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.pro_rate-cal_col_7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.pro_rate-cal_col_8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.pro_rate-cal_col_9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.pro_rate-cal_col_10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.pro_rate-cal_col_11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.pro_rate-cal_col_12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}


@media (min-width: 576px) {
  .pro_rate-cal_col_sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .pro_rate-cal_col_sm_auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .pro_rate-cal_col_sm_1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .pro_rate-cal_col_sm_2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .pro_rate-cal_col_sm_3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .pro_rate-cal_col_sm_4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .pro_rate-cal_col_sm_5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .pro_rate-cal_col_sm_6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .pro_rate-cal_col_sm_7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .pro_rate-cal_col_sm_8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .pro_rate-cal_col_sm_9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .pro_rate-cal_col_sm_10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .pro_rate-cal_col_sm_11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .pro_rate-cal_col_sm_12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .pro_rate-cal_col_md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .pro_rate-cal_col_md_auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .pro_rate-cal_col_md_1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .pro_rate-cal_col_md_2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .pro_rate-cal_col_md_3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .pro_rate-cal_col_md_4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .pro_rate-cal_col_md_5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .pro_rate-cal_col_md_6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .pro_rate-cal_col_md_7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .pro_rate-cal_col_md_8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .pro_rate-cal_col_md_9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .pro_rate-cal_col_md_10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .pro_rate-cal_col_md_11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .pro_rate-cal_col_md_12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  
}

@media (min-width: 992px) {
  .pro_rate-cal_col_lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .pro_rate-cal_col_lg_auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .pro_rate-cal_col_lg_1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .pro_rate-cal_col_lg_2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .pro_rate-cal_col_lg_3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .pro_rate-cal_col_lg_4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .pro_rate-cal_col_lg_5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .pro_rate-cal_col_lg_6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .pro_rate-cal_col_lg_7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .pro_rate-cal_col_lg_8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .pro_rate-cal_col_lg_9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .pro_rate-cal_col_lg_10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .pro_rate-cal_col_lg_11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .pro_rate-cal_col_lg_12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  
}

@media (min-width: 1200px) {
  .pro_rate-cal_col_xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .pro_rate-cal_col_xl_auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .pro_rate-cal_col_xl_1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .pro_rate-cal_col_xl_2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .pro_rate-cal_col_xl_3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .pro_rate-cal_col_xl_4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .pro_rate-cal_col_xl_5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .pro_rate-cal_col_xl_6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .pro_rate-cal_col_xl_7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .pro_rate-cal_col_xl_8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .pro_rate-cal_col_xl_9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .pro_rate-cal_col_xl_10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .pro_rate-cal_col_xl_11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .pro_rate-cal_col_xl_12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}